
{% extends "base.html.twig" %}

{% block title %}Hello ProfileController!{% endblock %}
{% block body %}
    {%  block header %} {{ parent() }}
        {% block errors %} {% endblock %}
    {% endblock %}
<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="mb-5">{{ username }}'s account</h1>
            </div>
            <div class="col-md-2">
                   {%  if(user.id == app.user.id) %}
                    <button  class="btn btn-secondary" onclick="location.href='{{ path('app_profile_settings',{'username' : app.user.username}) }}';"> edit profile </button>
                    {% endif %}
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-3">
                    {% if user.imageFile %}
                        {% set url = vich_uploader_asset(user, 'imageFile') %}
                        <img src="{{ asset(url) }}" class="rounded-circle shadow rounded-lg d-block d-sm-flex" width="236" height="236" />
                    {% else %}
                    <img src="{{ asset('assets/images/profileDefaultPhoto.jpg') }}" alt="Profile Image" class="rounded-circle shadow rounded-lg d-block d-sm-flex" width="236" height="236" />
                    {% endif %}
           <br>
                <div class="text-center">
                    {{ user.bio }}
                </div>
                {% if ((app.user.username) != ( username )) %}
                <div class="text-center">
                    <a href="{{ path('app_newConversations',{'username' : username}) }}"> Chat ! </a>
                </div>
                {% endif %}

            </div>
            <div class="col-md-5">
                <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                    <div class="tab-content p-4 p-md-5" >
                        <div class="tab-pane fade show active">

                            {% if(user.surname != '') %}
                            <div class="mb-3">
                                <h3 class="tab" > {{ user.name}} {{ user.surname }}   </h3>
                            </div>
                            <br>
                            {% endif %}
                            {% if(user.phone != '') %}
                            <div class="mb-3">
                                phone number:
                                <br>
                                <div class="tab">
                                <i class="fa fa-phone"></i>
                                {{ user.phone }}
                                </div>
                            </div>
                            {% endif %}
                            <br>
                            <div class="mb-3">
                                email address :
                                <br>
                                <div class="tab">
                                    <i class="fa fa-envelope"></i>
                                    {{ user.email }}
                                </div>
                                <br>
                                {% if(user.personalEmail != '') %}
                                <div class="tab">
                                <i class="fa fa-envelope"></i>
                                {{ user.personalEmail }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if(not(user.allNotNull) and (user.id == app.user.id)) %}
        <div class="row">
            <div class="alert alert-danger col-md-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <strong>
                    Please  finish <a href='{{ path('app_profile_settings',{'username' : app.user.username}) }}' class="alert-link">setting your account </a>
                </strong>.
            </div>

        </div>
        {% endif %}
    </div>
</section>

</body>
</html>
{% endblock %}
