
{% extends "parent.html.twig" %}

{% block title %}Hello ProfileController!{% endblock %}
{% block head %}{{ parent() }} {% endblock head %}
{% block body %}


<header class="main-header clearfix" role="banner">
    <div class="logo">
        <img class="imgv2" src="{{ asset('assets/images/download.png') }}" alt="INSAT 2.0" />
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger d-inline-block">
                {{ flash_message }}
            </div>
        {% endfor %}
        <ul class="main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Hub</a></li>
            {% if app.user %}
                <li>  <a href="{{ path('app_profile_settings') }}"> {{ app.user.username }} </a> </li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<section class="py-5 my-5">
    <div class="container">
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-10">
                <h1 class="mb-5">{{ app.user.username }}'s account</h1>
            </div>
            <div class="col-md-2">
                    <button  class="btn btn-secondary" onclick="location.href='{{ path('app_profile_settings') }}';"> edit profile </button>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-3">

                    <img src="{{ asset('assets/images/profileDefaultPhoto.jpg') }}" alt="Profile Image" class="rounded-circle shadow rounded-lg d-block d-sm-flex" width="236" height="236" />
           <br>
                <div class="text-center">
                    {{ app.user.bio }}
                </div>
            </div>
            <div class="col-md-5">
                <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                    <div class="tab-content p-4 p-md-5" >
                        <div class="tab-pane fade show active">
                            {% if(app.user.surname != '') %}
                            <div class="mb-3">
                                <h3 class="tab" > {{ app.user.surname }} </h3>
                            </div>
                            <br>
                            {% endif %}
                            {% if(app.user.phone != '') %}
                            <div class="mb-3">
                                phone number:
                                <br>
                                <div class="tab">
                                <i class="fa fa-phone"></i>
                                {{ app.user.phone }}
                                </div>
                            </div>
                            {% endif %}
                            <br>
                            <div class="mb-3">
                                email address :
                                <br>
                                <div class="tab">
                                    <i class="fa fa-envelope"></i>
                                    {{ app.user.email }}
                                </div>
                                <br>
                                {% if(app.user.personalEmail != '') %}
                                <div class="tab">
                                <i class="fa fa-envelope"></i>
                                {{ app.user.personalEmail }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
{% block script %} {{ parent() }} {% block script %}
{% endblock %}
