
{% extends "base.html.twig" %}

{% block title %}Courses{% endblock %}
{% block body %}
    {%  block header %} {{ parent() }}
        {% block errors %} {% endblock %}
    {% endblock %}
    {% set url = vich_uploader_asset(cours, 'courseFile') %}
    <div class="container">

        {# course title #}
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Course : {{ cours.nom }}</h1>
            </div>
        </div>

        {# course pdf preview #}
        <div>
            <object data="{{ asset(url) }}"  type="application/pdf" width="100%" height="500px">
                <p>It appears your Web browser is not configured to display PDF files.
                    No worries, just <a href="{{ asset(url) }}">click here to download the PDF file.</a>
                </p>
            </object>
        </div>
        {# action buttons #}
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-secondary" type="button" onClick='window.location.href="{{ path('app_gpt', {'filePath' : cours.courseName}) }}"'> Try Our AI integration!</a></button>
            <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static">Send a question</button>


            {# Modal #}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <div class="modal-dialog" >
                    <div class="modal-content" style="color:white; background-image: url({{ asset('assets/images/choosing-bg.jpg') }});" >
                    <div class="modal-header" >
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ask your question</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{form_start(QuestionForm)}}
                        <div class="mb-3">
                            {{ form_row(QuestionForm.content) }}
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-warning btn-sm">Send</button>
                        </div>
                        {{ form_end(QuestionForm) }}
                    </div>               
                </div>
            </div>
            {# end of Modal #}
        </div>

        {# course Q&A #}
        <div class="my-4">
            {% for question in questions %}
            <div class="card my-1" width="500px">
                <div class="card-header">
                    {{ question.content }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    {% if question.response %}
                        <p>
                        {{ question.response }}
                    </p>
                        {% else %}
                        <p>
                            No response yet
                        </p>
                        {% endif %}

                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </div>
        


        
    </div>
    </div>
{% endblock %}
