<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Account Settings</title>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
    />

    <link
            rel="stylesheet"
            href="{{ asset('assets/css/sitecomponents.css') }}"
    />
    <link rel="stylesheet" href="{{ asset('assets/css/img.css') }}" />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ asset('assets/css/style_interface_settings.css') }}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ asset('assets/css/style_interface_settings2.scss') }}"
    />
</head>
<body>
<header class="main-header clearfix" role="banner">
    <div class="logo">
        <img class="imgv2" src="{{ asset('assets/images/download.png') }}" alt="INSAT 2.0" />
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="{{ path('app_home') }}">Home</a></li>
        </ul>
    </nav>
</header>
<section class="py-5 my-5">
    <div class="container">
        <h1 class="mb-5">Account Settings</h1>
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img src="" alt="Image" class="shadow" />
                    </div>
                    <h4 class="text-center">{{ app.user.username }}</h4>
                </div>
                <div
                        class="nav flex-column nav-pills"
                        id="v-pills-tab"
                        role="tablist"
                        aria-orientation="vertical"
                >
                    <a
                            class="nav-link active"
                            id="account-tab"
                            data-toggle="pill"
                            href="#account"
                            role="tab"
                            aria-controls="account"
                            aria-selected="true"
                    >
                        <i class="fa fa-home text-center mr-1"></i>
                        Account
                    </a>
                    <a
                            class="nav-link"
                            id="password-tab"
                            data-toggle="pill"
                            href="#password"
                            role="tab"
                            aria-controls="password"
                            aria-selected="false"
                    >
                        <i class="fa fa-key text-center mr-1"></i>
                        Password
                    </a>


                    <a
                            class="nav-link"
                            id="notification-tab"
                            data-toggle="pill"
                            href="#notification"
                            role="tab"
                            aria-controls="notification"
                            aria-selected="false"
                    >
                        <i class="fa fa-bell text-center mr-1"></i>
                        Notification
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div
                        class="tab-pane fade show active"
                        id="account"
                        role="tabpanel"
                        aria-labelledby="account-tab"
                >
                    <h3 class="mb-4">Account Settings</h3>
                    <div class="row">
                        {{ form_start(profileSettingsForm) }}
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.username) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.name) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.surname) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.phone) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.personalEmail) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.bio) }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type= "submit" class="btn btn-primary">Update </button>
                        {{ form_end(profileSettingsForm) }}
                    </div>
                </div>
                <div
                        class="tab-pane fade"
                        id="password"
                        role="tabpanel"
                        aria-labelledby="password-tab"
                >
                    <h3 class="mb-4">Password Settings</h3>
                    <div class="row">
                        {{ form_start(profileSettingsPasswordForm) }}
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsPasswordForm.OldPlainPassword) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsPasswordForm.NewPlainPassword, {
                                    label: 'New Password'
                                })
                                }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        {{ form_end(profileSettingsPasswordForm) }}
                    </div>
                </div>

                <div
                        class="tab-pane fade"
                        id="notification"
                        role="tabpanel"
                        aria-labelledby="notification-tab"
                >
                    <h3 class="mb-4">Notification Settings</h3>
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="notification1"
                            />
                            <label class="form-check-label" for="notification1">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Dolorum accusantium accusamus, neque cupiditate quis
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="notification2"
                            />
                            <label class="form-check-label" for="notification2">
                                hic nesciunt repellat perferendis voluptatum totam porro
                                eligendi.
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="notification3"
                            />
                            <label class="form-check-label" for="notification3">
                                commodi fugiat molestiae tempora corporis. Sed dignissimos
                                suscipit
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
></script>

<!--
    <script src="{{ asset('assets/js/interface.js') }}"></script>
    -->

<script src="{{ asset('assets/js/destroySession.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
