
{% extends "base.html.twig" %}
{% block title %}Profile Settings{% endblock %}
{% block body %}
    {%  block header %} {{ parent() }}
        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('assets/css/style_interface_settings2.scss') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/style_interface_settings.css') }}" />
        {% block errors %} {% endblock %}
            {% endblock %}
    {% endblock %}
<section class="py-5 my-5">
    <div class="container">

        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
        <h1 class="mb-5">Account Settings</h1>
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img src="" alt="Image" class="shadow" />
                    </div>
                    <h4 class="text-center" >{{ app.user.username }}</h4>
                </div>
                <div
                        class="nav flex-column nav-pills"
                        id="v-pills-tab"
                        role="tablist"
                        aria-orientation="vertical"
                >
                    <a
                            class="nav-link active"
                            id="account-tab"
                            data-toggle="pill"
                            href="#account"
                            role="tab"
                            aria-controls="account"
                            aria-selected="true"
                    >
                        <i class="fa fa-home text-center mr-1"></i>
                        Account
                    </a>
                    <a
                            class="nav-link"
                            id="password-tab"
                            data-toggle="pill"
                            href="#password"
                            role="tab"
                            aria-controls="password"
                            aria-selected="false"
                    >
                        <i class="fa fa-key text-center mr-1"></i>
                        Password
                    </a>


                    <a
                            class="nav-link"
                            id="notification-tab"
                            data-toggle="pill"
                            href="#notification"
                            role="tab"
                            aria-controls="notification"
                            aria-selected="false"
                    >
                        <i class="fa fa-bell text-center mr-1"></i>
                        Notification
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div
                        class="tab-pane fade show active"
                        id="account"
                        role="tabpanel"
                        aria-labelledby="account-tab"
                >
                    <h3 class="mb-4">Account Settings</h3>
                    <div class="row">
                        {{ form_start(profileSettingsForm) }}
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.username) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.name) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.surname) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.phone) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.personalEmail) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(profileSettingsForm.bio) }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type= "submit" class="btn btn-primary">Update </button>
                        {{ form_end(profileSettingsForm) }}
                    </div>
                </div>
                <div
                        class="tab-pane fade"
                        id="password"
                        role="tabpanel"
                        aria-labelledby="password-tab"
                >
                    <h3 class="mb-4">Password Settings</h3>
                    <div class="row">
                        {{ form_start(profileSettingsPasswordForm) }}
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsPasswordForm.OldPlainPassword) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(profileSettingsPasswordForm.NewPlainPassword, {
                                    label: 'New Password'
                                })
                                }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        {{ form_end(profileSettingsPasswordForm) }}
                    </div>
                </div>

                <div
                        class="tab-pane fade"
                        id="notification"
                        role="tabpanel"
                        aria-labelledby="notification-tab"
                >
                    <h3 class="mb-4">Notification Settings</h3>
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="notification1"
                            />
                            <label class="form-check-label" for="notification1">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Dolorum accusantium accusamus, neque cupiditate quis
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="notification2"
                            />
                            <label class="form-check-label" for="notification2">
                                hic nesciunt repellat perferendis voluptatum totam porro
                                eligendi.
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="notification3"
                            />
                            <label class="form-check-label" for="notification3">
                                commodi fugiat molestiae tempora corporis. Sed dignissimos
                                suscipit
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

