{% extends "parent.html.twig" %}

{% block title %}Register{% endblock %}
{% block head %}{{ parent() }} {% endblock head %}



{% block body %}
<!--header-->
<header class="main-header clearfix" role="banner">
    <div class="logo">
        <img class="imgv2" src="{{ asset('assets/images/download.png') }}" alt="INSAT 2.0" />
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="{{ path('app_home') }}">Home</a></li>
        </ul>
    </nav>
</header>

<section class="section main-banner" id="top" data-section="section1"  style="color:white">
    <img class="imgv3" src="{{ asset('assets/images/choosing-bg.jpg') }}" alt="INSAT 2.0" />
    <section class="section coming-soon caption" data-section="section3">
        <div class="col-md-12 mt-5">
            <div class="middle-content">
                <div class="middle-content">
                    <h6>Register now
                    </h6>
                </div>
                {% for flash_message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        </div>
    </section>

</section>
    {% block script %} {{ parent() }} {% endblock %}
{% endblock %}
