{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}
<!--header-->
    {%  block header %} {{ parent() }}
            {% block errors %} {% endblock %}
    {% endblock %}

<section class="section main-banner" id="top" data-section="section1"  style="color:white">
    <img class="imgv3" src="{{ asset('assets/images/choosing-bg.jpg') }}" alt="INSAT 2.0" />
    <section class="section coming-soon caption" data-section="section3">
        <div class="col-md-12 mt-5">
            <div class="middle-content">
                <div class="middle-content">
                    <h6>Register now
                    </h6>
                </div>
                {% for flash_message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        </div>
    </section>

</section>
{% endblock %}
