{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/RegisterTermsContact.css') }}" />
{% endblock %}
{% block body %}
    {%  block header %} {{ parent() }}
            {% block errors %} {% endblock %}
    {% endblock %}
{% block section1 %}
<section class="section main-banner" id="top" data-section="section1"  style="color:white">
    {% endblock %}
    <section class="section coming-soon caption" data-section="section3">
        <div class="col-md-12 mt-5">
            <div class="top-content">
                <div class="top-content">
                    <h2>Register now
                    </h2>
                </div>
                {% for flash_message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% block section2 %}
</section>
{% endblock %}
{% endblock %}
