{% extends 'base.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}
{% block stylesheets %} {{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/teacherPanel.css') }}" />
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
        {% block errors %} {% endblock %}
        {% endblock %}


    <div class="container-fluid pb-lg-4">
   <div class ="column">
       <h1>Your Published Courses</h1>
       <div>
       {{ form_start(CourseForm) }}
       {{ form_row(CourseForm.courseFile) }}

           <div class="forum">{{ form_row(CourseForm.nom) }}</div>
           <button type = "submit" class="cssbuttons-io-button">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
               <span>Add</span>
           </button>

       {{ form_end(CourseForm) }}
       </div>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <li class="card">
           <button class="noselect"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
         <p class="course">Analyse</p>
           <p class="course"> view </p>
       </li>
       <p>&nbsp;</p>
       <li class="card">
           <button class="noselect"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
       </li>
   </div>
    </div>

    <div class="column2">
        <h1>Student Questions</h1>
        <div class="card2">
            <p class="qst">Question 1</p>

            <input type="text" name="text" class="input" placeholder="Put Answer here">

        </div>

    </div>
{% endblock %}