{% extends 'base.html.twig' %}


{% block title %}Hello TeacherController!{% endblock %}
{% block stylesheets %} {{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/teacherPanel.css') }}" />
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
        {% block errors %} {% endblock %}
        {% endblock %}



    <div class="container">

   <div class ="column">
       <h1>Your Published Courses</h1>
       <div>
       {{ form_start(CourseForm) }}
       {{ form_row(CourseForm.courseFile) }}

           <div class="forum">{{ form_row(CourseForm.nom) }}</div>
           <button type = "submit" class="cssbuttons-io-button">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
               <span>Add</span>
           </button>

       {{ form_end(CourseForm) }}
       </div>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <br>
       <br>

       {% if courses %}
       {% for cours in courses %}
       <li class="card" onClick='window.location.href="{{ path('app_course', {'courseName' : cours.courseName}) }}"'>
           <button class="noselect"><span class="text" onClick='window.location.href="{{ path('app_remove_course', {'courseName' : cours.courseName}) }}"'>Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
         <p class="course">{{ cours.nom }}</p>
       </li>
       {% endfor %}
       {% else %}
       <p>You haven't uploaded any courses</p>
       {% endif %}
   </div>


    <div class="column2">
        <h1>Student Questions</h1>
        <div class="card2">
            {% if questions %}
            {% for question in questions %}
            <p class="qst">Question: <p> {{ question.content }}</p></p>

            {% endfor %}
            {% else %}
                <p class="qst"> No Questions yet</p>
            {% endif %}
        </div>

        <div class="column3">
            <h1>Review Student Work</h1>
            <div class="card3">
                <p>Stoura &nbsp;</p>
                <p>td</p>
            </div>
        </div>
    </div>
{% endblock %}