{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent()  }}
    <link href="{{ asset('assets/css/Hub.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Hub {% endblock %}
{% block body %}
    {% block header %} {{ parent() }}
        {% block errors %} {% endblock %}
    {% endblock %}
    {% set url = vich_uploader_asset(app.user, 'imageFile') %}
    <section id="hero" class="d-flex" >
        <div class="container">
            <div class="row row-cols-2 ">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <label for="username">Search Profile:</label>
                    <!-- Button trigger modal -->
                    <div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="input-group mb-3" id="updateDetails">
                <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                      height="16" fill="currentColor"
                                                                      class="bi bi-search" viewBox="0 0 16 16">
                                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                                </svg>
                </span>
                        <input class="form-control">
                    </div>
                    <!--  modal  -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">search profile </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                </div>
                                <div class="modal-body">
                                    <div  class="input-group mb-3" >
                                <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                                      height="16" fill="currentColor"
                                                                                      class="bi bi-search" viewBox="0 0 16 16">
                                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                                </svg>
                                </span>
                                        <input class="form-control" id ="InputNameSearch">
                                    </div>
                                    <table class="table">
                                        <tbody id="ProfileList" >
                                        </tbody>
                                    </table>
                                    <script src="{{ asset('assets/js/searchProfileByUsername.js') }}" type="text/javascript"></script>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row ">
                <div class="col-md-6 col-lg-4  " >
                    <div class="icon-box">
                        <div class="icon "><i class="ri-palette-line "></i></div>
                           <h4 class="title"><a href="">View Courses</a></h4>
                                <p class="description">Checkout available courses, and use our latest AI integration!</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4  " >
                    <div class="icon-box">
                        <div class="icon"><i class="ri-command-line"></i></div>
                                <h4 class="title"><a href="">Submit Work</a></h4>
                                <p class="description">Send your work to one of our teachers, and get feedback!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 " >
                    <div class="icon-box">
                                <div class="icon"><i class="ri-fingerprint-line"></i></div>
                                <h4 class="title"><a href="">Study Together</a></h4>
                                <p class="description">Get together with your favorite study buddies and start working!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const eventSource = new EventSource("{{ mercure('test')|escape('js') }}");
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            const data = JSON.parse(event.data);
     //insert the list
            addProfile(data.users);
        }
    </script>

{% endblock %}

