{% extends 'base.html.twig' %}


{% block title %}Ask for Help!{% endblock %}
{% block stylesheets %} {{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/Tickets.css') }}" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
        {% block errors %} {% endblock %}
        {% endblock %}


    <section id="contact" class="py-5 my-5 slider-thumb">
        <div class="section-content">
            <h1 class="section-header">Ask help<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> From The Admin</span></h1>
            <h3>If you need help in your education or you miss anthing during your hard work,
             <br> Dont Hesitate and ask for help to our nice dear Admoune</h3>
        </div>
        <div class="contact-section">
        <div class="container justify-content-center">
            {{ form_start(form) }}
                <div class=" p-2">
                    {{ form_row(form.Object) }}
                </div>
                <div class="p-2">
                    {{ form_row(form.Description) }}
                </div>
                <div>
                    <button type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                </div>
            {{ form_end(form) }}
        </div>
        </div>
    </section>
    
{% endblock %}