{% extends "parent.html.twig" %}


{% block title %}Contact{% endblock %}

{% block head %}{{ parent() }} {% endblock head %}

{% block body %}

<!--header-->
<header class="main-header clearfix" role="banner">
    <div class="logo">
        <img class="imgv2" src="{{ asset('assets/images/download.png') }}" alt="INSAT 2.0" />
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="{{ path('app_home') }}">Home</a></li>
        </ul>
    </nav>
</header>

<section class="section main-banner" id="top" data-section="section1" style="color:white">
    <img class="imgv3" src="{{ asset('assets/images/choosing-bg.jpg') }}" alt="INSAT 2.0" />
    <section class="section coming-soon caption" data-section="section3">
        <div class="col-md-12 mt-5">
            <div class="middle-content">
                <h1>Contact Us</h1>
                {{ form_start(form) }}

                    {% if not app.user %}
                        <div class="form-group">
                            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form_row(form.subject, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
</section>
{% endblock %}
